:root {
    --main-primary-color: #5A5BF3;
}

.dashboard-logo-text {
    color: var(--main-primary-color);
    font-size: 40px;
    font-family: fantasy;
    text-shadow: 2px 2px #91E7D9;
    margin-right: 8px;
}

.metismenu li a {
    font-family: 'Roboto', sans-serif !important;
    margin-left: 20px;
}

.metismenu li a i {
    color: #8992a8;
}

.metismenu span {
    font-size: 16px;
}

.user-profile .dropdown-menu a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    font-weight: 600;
}

.dropdown-menu-pf {
    width: 50%;
}

.header-content {
    justify-content: space-between;
}

.header-content a {
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background-color: var(--main-primary-color);
    margin-bottom: 16px;
    border-radius: 4px;
}

.header-content a:hover {
    background-color: #4747ce;
}

.header-content i {
    padding-right: 8px;
    font-size: 12px;
}

.column-name {
    font-size: 16px;
}

.column-content {
    font-size: 16px;
}

.column-des {
    padding: 8px 48px 8px 48px;
    text-align: justify;
}

.dashboard-footer {
    text-align: center;
    padding-top: 24px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px; /* Độ dài tối đa trước khi ẩn */
}

.btn-modal-ctopic button {
    font-size: 16px;
}

.btn-modal-ctopic-primary button {
    background: var(--main-primary-color);
    color: #fff;
    font-size: 16px;
}

.btn-modal-ctopic-primary button:hover {
    background: #4748d1;
}
