/* Base */
:root {
    --primary-color: #5A5BF3;
    --primary-gradient: linear-gradient(0deg, #5A5BF3, #91E7D9);
    --primary-gradient-hover: linear-gradient(0deg, #91E7D9, #5A5BF3);
    --link-color: #1378e8;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
}

/* Header */
.header-margin {
    margin: 10px 25px;
}

.nav-link-space {
    font-weight: 700;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 20px;
}

.btn-signup {
    border: none;
    border-radius: 25px;
    background: var(--primary-gradient);
    color: var(--white-color) !important;
    margin-left: 12px;
    padding: 8px 30px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-signup:hover {
    background: var(--primary-gradient-hover);
    transform: scale(1.05); /* Phóng to nút một chút khi hover */
}

.btn-signup-cnt {
    margin-top: 10px;
    margin-left: 0;
}

.bg-image {
    background-image: url('/resources/assets/img/services1.png');
    height: 70vh;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar {
    left: 0; /* Đặt phần bên trái */
    right: 0; /* Đặt phần bên phải */
}

.navbar-brand img {
    max-width: 100%;
}

.text-title {
    color: rgba(0, 0, 0, 0.65);
    font-size: 50px;
    font-weight: 700;
    margin-top: 130px;
    margin-left: 70px;
}

.text-description {
    margin-left: 75px;
    font-size: 18px;
}

.text-des-signup {
    font-weight: 600;
    padding-right: 5px;
}

/* Modal Đăng nhập - Đăng ký */
/* Đăng nhập */
.modal-content {
    border-radius: 32px !important;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-body {
    padding: 0 3.6rem 2rem;
}

.modal-body-pd {
    padding: 32px;
}

.btn-close-form {
    padding-top: 24px !important;
    padding-right: 24px !important;
}

.login-logo {
    text-align: center;
    padding-right: 25px;
}

.login-logo img {
    width: 25%; /* Đặt chiều rộng của logo là 20% so với phần tử chứa nó */
}

.login-welcome p {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}

.login-welcome div {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.modal-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 24px;
}

.form-label-format {
    margin-bottom: 4px;
}

.form-control-format {
    border-radius: 8px;
    padding: 8px 16px
}

.form-control-last {
    margin-bottom: 8px;
}

.forgot-password {
    text-decoration: none;
}

.btn-submit-login {
    margin-top: 24px;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.goto-signup {
    text-align: center;
    margin-bottom: 0;
    margin-top: 8px
}

.goto-signup a {
    text-decoration: none;
}

/* Đăng ký */
.signup-logo {
    text-align: center;
    padding-right: 25px;
}

.signup-logo img {
    width: 25%; /* Đặt chiều rộng của logo là 20% so với phần tử chứa nó */
}

.signup-welcome p {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}

.signup-welcome div {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.btn-submit-signup {
    margin-top: 40px;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.form-password {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: none;
    padding: 8px 16px;
}

.show-pass {
    border-left: none;
    border-color: rgba(0, 0, 0, 0.2);
}

.goto-login {
    text-align: center;
    margin-bottom: 0;
    margin-top: 8px
}

.goto-login a {
    text-decoration: none;
}

/* HomePage */
.home-logo {
    margin-bottom: 16px;
}

.home-nav-item {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.home-search-bar {
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 32px;
    font-size: 18px;
    margin: 6px 12px;
    background-color: #e9e9e9a1;
}

.home-search-bar::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.home-profile {
    margin-left: 16px;
}

.home-profile img {
    border-radius: 24px;
}

/* HomePage - Main Content */
.img-wrapper {
    /* width: 1900px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    margin-left: 4px;
    margin-right: 4px;
}

.img-item {
    height: 28vh;
    margin: 8px;
    flex-grow: 1;
}

.img-item:last-child {
    flex-grow: 10;
}

.img-item img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 16px;
}

/* @media (max-aspect-ratio: 1/1) {
    li {
      height: 30vh;
    }
  }

  @media (max-height: 480px) {
    li {
      height: 80vh;
    }
  }

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }

    li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  } */

/* Upload */
.dropzone-background {
    background-color: #efefef;
    border-radius: 16px;
    cursor: pointer;
    height: 500px;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    margin: 16px;
    height: calc(500px - 32px);
}

.drop-content {
    margin-top: 100%;
}

.drop-content p {
    font-size: 14px;
    font-weight: 600;
}

.custom-file-upload {
    font-size: 24px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    color: #5f5f5f;
    border: none;
    width: 32%;
    border-radius: 32px
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-label {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
}

/* .image-preview {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.image-preview input[type="file"] {
    display: none;
}

.image-preview label {
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.image-preview img {
    display: none;
    max-width: 100%;
} */

.save-to-collection label {
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px
}

.btn-group-save select {
    padding: 8px 8px 8px 16px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: #efefef;
    border: none;
    width: 70%;
    outline: none;
}

.btn-group-save button {
    padding: 8px;
    /* background-color: var(--primary-color); */
    background-image: var(--primary-gradient);
    color: #fff;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    width: 24%;
    border: none;
    font-weight: 600;
}

.btn-group-save button:hover {
    background: var(--primary-gradient-hover);
    transform: scale(1.05); /* Phóng to nút một chút khi hover */
}

.upload-title-post input {
    font-size: 48px;
    font-weight: 600;
    border: none;
    width: 100%;
    padding: 16px 8px 0 0;
    outline: none;
}

.separate {
    border-bottom: 1px solid #c6c6c6;
}

.upload-description-post textarea {
    border: none;
    resize: none;
    outline: none;
}

.upload-btn button {
    width: 100%;
    height: 40px;
    line-height: 2;
    border-radius: 32px;
    margin-top: 31px;
    border: none;
    background-image: var(--primary-gradient) !important;
    color: var(--white-color);
    font-weight: 600;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-image 0.3s ease, transform 0.2s ease;
}

.upload-btn button:hover {
    background: var(--primary-gradient-hover);
    transform: scale(1.05); /* Phóng to nút một chút khi hover */
}


/* Footer */
.footer-signature {
    text-align: center;
}

.footer-signature p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.2);
}
